/* frontend/styles/globals.css */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 8px;
    margin: 5px 0;
    background-color: #64983e;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #557735;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}
